/* Màu sắc chủ đạo */
$red: #e60000;
$white: #ffffff;
$black-opacity: rgba(0, 0, 0, 0.7);
$button-hover: #ff4d4d;

.forget-password-container {
  background: $black-opacity;
  color: $white;
  padding: 10px;  
  display: flex;
  align-items: center;
  flex-direction: column;
  .forget-password-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  .forget-password-form {
    padding: 30px 40px;
    .label-mail{
      margin-bottom: 4px;
    }
    .forget-password-input {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      background-color: $white;
      
      font-size: 16px;
      outline: none;
      transition: border 0.3s ease;

      &:focus {
        border-color: darken($red, 10%);
      }

      &::placeholder {
        color: darken($red, 30%);
      }
    }

    .forget-password-button {
      width: 100%;
      padding: 12px;
      background-color: $red;
      border: none;
      // border-radius: 8px;
      color: $white;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: $button-hover;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}
