
.account-wrapper{
  background-color: white;
  
  .logo-btn-wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    .logo-page{
      margin: 20px 60px;
      color: #e50914 !important;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: bold;
      font-size: 40px !important;
      text-shadow: 
          0px 6px 8px rgba(0, 0, 0, 0.4);
      position: relative;
      z-index: 2;
      text-decoration: none;
      
    }
    .btn-back-watch {
      background-color: #e50914;
      border: none;
      border-radius: 2px;
      padding: 12px 16px;
      color: rgb(248, 248, 248);
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: all 0.3s ease;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      margin-left: auto;
      margin-right: 20px;
    
      &:hover {
        background-color: #b0060f;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
      }
    
      svg {
        font-size: 20px;
      }
    }
  }
  
  .account-layout {
    display: flex;
    min-height: 100vh;
    .sidebar {
        margin-top: 60px;
        width: 220px;
        background-color: #fff;
        border-right: 1px solid #ddd;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        a {
            text-decoration: none;
            color: #545454;
            font-weight: 500;
            padding: 10px;
            // border-radius: 5px;
  
            &.active {
                background-color: #e90000;
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
  
            &:hover{
                color: #da0505;
            }
        }
    }
  
    .content {
        flex-grow: 1;
        padding:  0px 20px 40px;
        background-color: #f9f9f9;
    }
  }
}
