.watchfilm-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: black;

  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  .watchfilm-header {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    border-radius: 40px;
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, height 0.3s ease, padding 0.3s ease;
    max-width: 95%;
    z-index: 15;

    h1 {
      font-size: 16px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .time-display {
        margin-left: 20px;
        font-weight: normal;
      }
    }
  }

  &:hover .watchfilm-header {
    opacity: 1;
    pointer-events: auto;
    height: 10%;
    padding: 10px 20px;
  }

  .icon-column {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    opacity: 0;
    transition: all 0.3s ease;

    &.left-column {
      left: 10px;
    }

    &.right-column {
      right: 10px;
    }

    .icon-button {
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      padding: 2px 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.2);
        color: #ff0000;
      }
    }
  }

  &:hover .icon-column {
    opacity: 1;
  }

  .watchfilm-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
  }

  .watchfilm-loading {
    position: absolute;  /* Đảm bảo nó được căn giữa so với container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Dịch chuyển lại 50% chiều rộng và chiều cao của chính nó để căn giữa */
    color: white;
    font-size: 20px;
    z-index: 20;
    text-align: center;
  }

  .watchfilm-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    height: 100vh;
    background: #000;

    button {
      margin-top: 10px;
      padding: 10px 20px;
      background: red;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .comments-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: flex-end;

    .comments-modal {
      width: 550px;
      height: 100%;
      background-color: #111;
      color: white;
      // padding: 20px;
      overflow-y: auto;
    }
  }
  .comments-overlay-report {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); // overlay mờ nền
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.comments-modal {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

  .comments-overlay-eps{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: flex-end;

    .comments-modal {
      background-color: #111;
      color: white;
      overflow-y: auto;
      padding: none;
    }
  }
}
